@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
    color: #000;
}

img{
    max-width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-center{
    justify-content: center;
}

nav{
    padding: 20px;

}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
.logo{
    flex-basis: 20%;
    max-width: 20%;
}
.logo a{}
.logo a img{
    width: 150px;
}

.menu{
    flex-basis: 60%;
    max-width: 60%;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu ul li{}
.menu ul li a{
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
}
.menu ul li a:hover{}

.cart{
    flex-basis: 20%;
    max-width: 20%;
}
.cart ul{
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 10px;

}
.cart ul li{}
.cart ul li a{
    display: block;
    /* width: 30px; */
    /* height: 30px; */
}
.cart ul li a:hover{}

.cart ul li a svg{
    height: 20px;
}

.col-1-2{
    max-width: 50%;
    flex-basis: 50%;
}

header{
    background-color: #32b4c1;
}

header .hero-content{
    padding: 10px 20%;
}

header .hero-content h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

header .hero-content p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

p a{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}

header img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

.btn{
    color: #fff;
    font-weight: 500;
    background-color: #0f5190;
    text-decoration: none;
    padding: 12px 25px;
    display: inline-block;
    font-size: 22px;
    border-radius: 6px;
    transition: 0.4s;
}

.btn:hover{
    background-color: #fff;    
    color: #10528f;
}

.blogsection{
    padding: 80px 20px;
}

.tittle{
    font-size: 20px;
}

.tittle h2{
    text-align: center;
}

.col-1-3{
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 12px;
}

.blog{
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff8f0;
    padding: 21px;
    border-radius: 12px;
    box-shadow: 0 0 20px #2222223b;
}
.blog img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 14px;
}
.blog h3{
    font-size: 30px;
    margin-bottom: 15px;
}
.blog ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}
.blog ul li{
    color: #a5a1a1;
}
.blog ul li span{
    color: #4f4f4f;
}
.blog p{
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
}
.blog a{
    display: block;
    color: #0f5190;
    text-decoration: none;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

article{
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff8f0;
    padding: 21px;
    border-radius: 12px;
    /* box-shadow: 0 0 20px #2222223b; */
}
article img{
    aspect-ratio: 12/5 !important;
    width: 100%;    
    margin-bottom: 20px;    
    object-fit: cover;
    border-radius: 14px;
}

article .blog{
    max-width: 900px;
    text-align: center;
    box-shadow: 0 0 0px #2222223b !important;
    margin: auto;
}

iframe{
    margin: 10px;
}